{% extends 'student_base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/find_sessions.css' %}">
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="search-container">
        <img src="{% static 'images/search.svg' %}" alt="search_icon" class="search-icon">
        <input type="text" placeholder="Search for your sessions" />
    </div>

    <div class="table-header">Available Sessions</div>
    <table class="info-table">
        <tr>
            <th>Class</th>
            <th>Subject</th>
            <th>Tutor</th>
            <th>Day</th>
            <th>Time</th>
            <th>Capacity</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>CCO5</td>
            <td>Database System</td>
            <td>Tran Thi E</td>
            <td>2-3</td>
            <td>13h00-15h00</td>
            <td>1/30</td>
            <td><a href="#" class="action">Join</a></td>
        </tr>
        <tr>
            <td>CCO1</td>
            <td>Data structure and algorithm</td>
            <td>Hoang Thi D</td>
            <td>2-4</td>
            <td>13h00-15h00</td>
            <td>1/30</td>
            <td><a href="#" class="action">Join</a></td>
        </tr>
        <tr>
            <td>CCO2</td>
            <td>Physics 1</td>
            <td>Nguyen Van A</td>
            <td>5-6</td>
            <td>13h00-15h00</td>
            <td>1/30</td>
            <td><a href="#" class="action">Join</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="request-btn">
        <a href="{% url 'students:request_session' %}" >Request new session</a>
    </div>
</div>
{% endblock %}

