{% extends 'student_base.html' %}
{% load static %}

{% block title %}<title>Library</title>{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/library.css' %}">
{% endblock %}

{% block content %}

<div class="main-content">
        <div class="table-header">Search for your materials</div>
        <div class="filters-container">
            <div class="search-wrapper">
                <select class="filter-select">
                    <option value="all">All</option>
                    <option value="title">Title</option>
                    <option value="subject">Subject</option>
                    <option value="author">Author</option>
                </select>
                <input type="text" class="search-input" placeholder="Search">
                <button class="filter-search-btn">
                    <img src="{% static 'images/search.svg' %}" alt="search" />
                </button>
            </div>
        </div>

        <table class="info-table">
            <tr>
                <th>Title</th>
                <th>Subject</th>
                <th>Authored by</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Calculus 1</td>
                <td>Calculus 1</td>
                <td>James Stewart</td>
                <td>
                    <a href="#" class="action-view">View</a>
                    <span class="action-divider">|</span>
                    <a href="#" class="action-download">Download</a>
                </td>
            </tr>
            <tr>
                <td>General Physics 1</td>
                <td>Physics 1</td>
                <td>Nguyen Thi Be Bay</td>
                <td>
                    <a href="#" class="action-view">View</a>
                    <span class="action-divider">|</span>
                    <a href="#" class="action-download">Download</a>
                </td>
            </tr>
            <tr>
                <td>Linear algebra and its applications</td>
                <td>Linear Algebra</td>
                <td>David Lay, Steven Lay, Judi McDonald</td>
                <td>
                    <a href="#" class="action-view">View</a>
                    <span class="action-divider">|</span>
                    <a href="#" class="action-download">Download</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

{% endblock %}