{% extends 'student_base.html' %}
{% load static %}

{% block title %}<title>Dashboard</title>{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="profile-container">
        <div class="profile-header"></div>
        
        <div class="avatar-wrapper">
            <img src="{% static 'images/avatar.svg' %}" alt="avatar" class="profile-avatar">
            <div class="edit-avatar-btn">
                <img src="{% static 'images/pencil.svg' %}" alt="edit-icon">
            </div>
        </div>

        <div class="profile-info">
            <table class="info-table">
                <tr>
                    <td>Full name</td>
                    <td>{{ student.full_name }}</td>
                </tr>
                <tr>
                    <td>Student's ID</td>
                    <td>{{ student.student_id }}</td>
                </tr>
                <tr>
                    <td>Date of birth</td>
                    <td>{{ student.dob|date:"d/m/Y"|default:"N/A" }}</td>
                </tr>
                <tr>
                    <td>Major</td>
                    <td>{{ student.major|default:"N/A" }}</td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td>{{ student.phone|default:"N/A" }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ student.email|default:"N/A" }}</td>
                </tr>
                <tr>
                    <td>Support needs</td>
                    <td>
                        {{ student.sp_needs|default:"N/A" }}
                        <div class="edit-field-btn">
                            <img src="{% static 'images/pencil.svg' %}" alt="edit-icon">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}