{% extends 'student_base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/session_material.css' %}">
{% endblock %}

{% block content %}

<div class="main-content">
        <div class="session-info-container">
            <h1>Software Engineering_Hoang Thi D_CC04</h1>
        </div>

        <div class="header">Session Material</div>
        <table class="info-table">
            <tr>
                <td>
                    <img src="{% static 'images/dashicons_pdf.svg' %}" alt="pdf_icon" class="material-pdf-icon">
                    Lecture 1
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static 'images/dashicons_pdf.svg' %}" alt="pdf_icon" class="material-pdf-icon">
                    Lecture 2
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static 'images/video.svg' %}" alt="video_icon" class="material-video-icon">
                    Video for lecture 1
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <a href="{% url 'technical_report' %}">Technical Support</a>
    </div>

{% endblock %}