{% extends 'student_base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sessions.css' %}">
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="table-header">My Sessions Table</div>
    <table class="info-table">
        <tr>
            <th>Class</th>
            <th>Subject</th>
            <th>Tutor</th>
            <th>Day</th>
            <th>Time</th>
            <th>Capacity</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for enrollment in enrollments %}
        <tr>
            <td>
                {{ enrollment.session.class_code }}
                {% if enrollment.session.status == 'ongoing' %}
                <a href="#"><img src="{% static 'images/reschedule.svg' %}" class="reschedule-icon" alt="reschedule_icon"></a>
                {% endif %}
            </td>
            <td>
                {{ enrollment.session.subject.name }}
                {% if enrollment.session.status == 'ongoing' %}
                <a href="{% url 'students:session_material' enrollment.session.id %}"><img src="{% static 'images/session material.svg' %}" class="material-icon" alt="material_icon"></a>
                {% endif %}
            </td>
            <td>{{ enrollment.session.tutor.full_name }}</td>
            <td>{{ enrollment.session.days }}</td>
            <td>{{ enrollment.session.start_time|time:"H\hi" }}-{{ enrollment.session.end_time|time:"H\hi" }}</td>
            <td>{{ enrollment.session.capacity_display }}</td>
            <td>{{ enrollment.session.get_status_display }}</td>
            <td>
                {% if enrollment.session.status == 'completed' %}
                    <a href="{% url 'tutoring_sessions:feedback' enrollment.id %}" class="action">Feedback</a>
                {% elif enrollment.session.status == 'ongoing' %}
                    <a href="{% url 'tutoring_sessions:cancel_enrollment' enrollment.id %}" class="action" onclick="return confirm('Bạn có chắc muốn hủy session này?')">Cancel</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" style="text-align: center;">Bạn chưa đăng ký session nào</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}