{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material</title>
    <link rel="stylesheet" href="{% static 'css/session_material.css' %}">
</head>
<body>
    <nav class="sidebar">
        <a href="{% url 'student_dashboard' %}"><img src="{% static 'images/Home.svg' %}" alt="home_icon" class="sidebar-icon"></a>
        <a href="{% url 'profile' %}"><img src="{% static 'images/User.svg' %}" alt="profile_icon" class="sidebar-icon"></a>
        <a href="{% url 'sessions' %}"><img src="{% static 'images/Selected_session.svg' %}" alt="sessions_icon" class="sidebar-icon-active"></a>
        <a href="{% url 'find_sessions' %}"><img src="{% static 'images/findsession.svg' %}" alt="find_sessions_icon" class="sidebar-icon"></a>
        <a href="{% url 'library' %}"><img src="{% static 'images/Material.svg' %}" alt="library_icon" class="sidebar-icon"></a>
    </nav>

    <div class="adjust_ellipse">
        <img src="{% static 'images/Ellipse2.svg' %}" alt="ellipse2">
        <div class="adjust_avatar"><img src="{% static 'images/avatar.svg' %}"  alt="avatar"></div>
    </div>

    <div class="notify_curve">
        <img id="notifyBtn" src="{% static 'images/notify_curve.svg' %}" alt="curve">  
    </div>

    <!-- NOTIFICATION POPUP -->
    <div id="notificationBox" class="notification-box hidden">
        <div class="notify-header">
            <span>Notifications</span>
            <span class="checkmark">
                <img src="{% static 'images/check-mark.svg' %}" alt="check_mark">
            </span>
        </div>

        <div class="notify-body">
            You have no notifications
        </div>

        <div class="notify-footer">
            <a href="#">See all</a>
        </div>
    </div>
    
    <div class="main-content">
        <div class="session-info-container">
            <h1>Software Engineering_Hoang Thi D_CC04</h1>
        </div>

        <div class="header">Session Material</div>
        <table class="info-table">
            <tr>
                <td>
                    <img src="{% static 'images/dashicons_pdf.svg' %}" alt="pdf_icon" class="material-pdf-icon">
                    Lecture 1
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static 'images/dashicons_pdf.svg' %}" alt="pdf_icon" class="material-pdf-icon">
                    Lecture 2
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static 'images/video.svg' %}" alt="video_icon" class="material-video-icon">
                    Video for lecture 1
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <a href="#">Technical Support</a>
    </div>
    
    <script>
        const notifyBtn = document.getElementById("notifyBtn");
        const notificationBox = document.getElementById("notificationBox");

        notifyBtn.addEventListener("click", function() {
            notificationBox.classList.toggle("hidden");
        });

        // Click outside to close
        document.addEventListener("click", function(e) {
            if (!notificationBox.contains(e.target) && e.target !== notifyBtn) {
                notificationBox.classList.add("hidden");
            }
        });
    </script>
</body>
</html>
